*{
    padding: 0;
    margin: 0;
}
.top{

}
.top-wrapper{
    
}
.header{
    padding: 40px 0;
    margin: 0 0 97px 0;
    box-sizing: border-box;
}
.logo{

}
.top-menu{

}
.top-menu-list{

}
.top-menu-item{

}
.top-menu-link{

}
.top-menu-select{

}
.top-info{

}
.top-info-content{

}
.top-content-title{
    margin: 0 0 17px 0;

}
.top-content-text{
    margin: 0 0 37px 0;

}
.top-content-button-wrapper{
    margin: 0 0 162px 0;
}
.top-info-button-1{

}
.top-info-button-2{

}
.top-info-img{

}
.top-logos{
    padding: 97px 0;
}
.top-logos-list{

}
.top-logos-item{

}
.top-logos-link{

}